<html>
  <head>
      <link href="/static/css/myresume.css" rel="stylesheet">
      <title></title>
    </head>
    <body>
      <div id="header">
        <p id="name">SPARSH SHRESTHA</p>
        <a href="mailto:sparshshrestha1643@gmail.com" target="_blank"><p id="email">sparshshrestha1643@gmail.com</p></a>
      </div>
      <div class="left">
      </div>
      <div class="right">
            <h3>CV Highlights</h3>
            <p>
            <ul>
                <li>Currently Intern at EveryCrave WebTec Pvt Ltd</li>
                <li>Learnt basic Python, JavaScript, HTML, CSS and Django</li>
                <li>An independent, dedicated, efficient person. Good Communication Skills, Presentation Skills, attitude towards leadership, authorisation and delegation, conflict resolution and negotiation and a very good team worker.</li></ul>
            </p>
            <h3>Professional Experience</h3>
            <h4 id="company-name">EveryCrave WebTec Pvt Ltd</h4>
            <p id="job-title"><strong>Internship</strong></p>
            <p id="job-responsibilities">Job Responsbilities</p>
            <p>
            <ul>
                <li>Responsible for building a project from ground up.</li>
                <li>Work with exciting new technologies (Web, Mobile Development)</li>
                <li>Work on the complete software life-cycle from requirement gathering to deployment</li>
            </ul>
            </p>
            <h3>Educational Qualifications</h3>
            <table>
                <tr id="heading">
                    <td>Qualification</td>
                    <td>School/College</td>
                    <td>Board</td>
                    <td>Percentage / SGPA</td>
                    <td>Year</td>
                </tr>
                <tr>
                    <td>10th Standard</td>
                    <td>Tulsi Higher Secondary School</td>
                    <td>S.L.C. (Nepal Board)</td>
                    <td>81%</td>
                    <td>2013</td>
                </tr>
                <tr>
                    <td>12th standard (Science Stream)</td>
                    <td>Little Angels College</td>
                    <td>H.S.E.B. (Nepal Board)</td>
                    <td>73%</td>
                    <td>2015</td>
                </tr>
                <tr>
                    <td>BE in Computer Science</td>
                    <td>Acharya Institute of Technology</td>
                    <td>V.T.U (University)</td>
                    <td>6.6</td>
                    <td>2018</td>
                </tr>
            </table>
            <h3>Technical Skills</h3>
            <p>
            <ul>
                <li>
                <span id="course-name">Operating Systems:</span> Windows 98, Windows 2000, Windows XP, Windows Vista, Windows 7, Macintosh Computers (OS X), Linux (Ubuntu, Fedora)</li>
                <li>
                <span id="course-name">Programming Skills:</span>HTML, CSS, Python, JavaScript, C and SQL</li></ul>
            </p>
            <h3>Certifications</h3>
            <p>
            <ul>
                <li>Certificate of Machine Learning Workshop by Cosmoses</li>
            </ul>
            <h3>Personal Information:</h3>
            <p>
            <ul>
                <li>
                A young, determined hard and smart working person. I believe in task based roles and complete ownership of work.
                </li>
                <li>
                <span id="course-name">Address:16th cross Hessarghatta Main Road, Jalahalli Cross, Bangaluru</span>
                </li>
                <li>
                <span id="course-name">Date of Birth:14th Dec 1996</span>
                </li>
                <li>
                <span id="course-name">Languages Known:</span>English, Hindi and Nepali</li>
                <li>
                <span id="course-name">Hobbies:</span>I love playing computer games, listening music, surfing Internet, self-learning through e-courses and watching information providing TV shows.</li> </ul>
            </p>
            <h3>Other Information</h3>
            <p>
            <ul>
                <li>
                <span id="course-name">Expected Salary:</span>As per company standards</li>
                <li>
                <span id="course-name">Area of Interest:</span>Software Development, Programming, Start-ups, Coding, App Development, Technical Support, Support Engineer, Customer Happiness,Data Analyst, Business Analysis</li>
                <li>
                <span id="course-name">Joining Date:</span>Immediate</li></ul>
            </p>
            <h3>Declaration</h3>
            <p>
            I hereby declare that the details furnished above are true and correct to the best of my knowledge and belief.</p>
     </div>
     <div id="footer"></div>
    </body>
</html>
